@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/theme';

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &.error {
    input {
      &:not(:checked) {
        border: 2px solid theme.$input-field-error-color;
      }
    }
  }

  > label {
    margin-left: calc(#{variables.$base-spacing} / 2);
    font-size: 14px;
    cursor: pointer;
  }

  > input {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s;
    appearance: none;

    &:disabled {
      opacity: 0.6;
      pointer-events: none;

      + label {
        pointer-events: none;
      }
    }

    &:not(:checked) {
      border: 2px solid theme.$input-resting-border-color;
      &:hover:not(:disabled) {
        border-color: theme.$input-hover-border-color;
      }
    }

    &:checked {
      width: 20px;
      height: 20px;
      border: 2px solid var(--primary-color);
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: var(--primary-color);
        border: 2px solid transparent;
        border-radius: 15px;
        transform: translateX(-50%) translateY(-50%);
        content: '';
      }
    }
  }
}
