@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/theme';

.popover {
  top: 10px;
}

.buttonContainer {
  // this is a visual fix for putting a button with background besides a transparent button
  margin-left: variables.$base-spacing;

  > button:first-child {
    margin-right: calc(#{variables.$base-spacing} / 2);
  }
}
